* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.row { overflow: hidden; margin-left: auto; margin-right: auto; width: 975px; }
.row .row { margin-left: -7.5px; margin-right: -7.5px; width: auto; }

.row > .span1, .row > .span2, .row > .span3, .row > .span4, .row > .span5, .row > .span6, .row > .span7, .row > .span8, .row > .span9, .row > .span10, .row > .span11, .row > .span12, .row > .span13, .row > .span14, .row > .span15, .row > .span16 { float: left; min-height: 1px; padding-left: 7.5px; padding-right: 7.5px; }

.span12 { width: 100%; }

.span11 { width: 91.66667%; }

.span10 { width: 83.33333%; }

.span9 { width: 75%; }

.span8 { width: 66.66667%; }

.span7 { width: 58.33333%; }

.span6 { width: 50%; }

.span5 { width: 41.66667%; }

.span4 { width: 33.33333%; }

.span3 { width: 25%; }

.span2 { width: 16.66667%; }

.span1 { width: 8.33333%; }

.offset12 { margin-left: 100%; }

.offset11 { margin-left: 91.66667%; }

.offset10 { margin-left: 83.33333%; }

.offset9 { margin-left: 75%; }

.offset8 { margin-left: 66.66667%; }

.offset7 { margin-left: 58.33333%; }

.offset6 { margin-left: 50%; }

.offset5 { margin-left: 41.66667%; }

.offset4 { margin-left: 33.33333%; }

.offset3 { margin-left: 25%; }

.offset2 { margin-left: 16.66667%; }

.offset1 { margin-left: 8.33333%; }

.main { float: left; min-height: 1px; padding-left: 7.5px; padding-right: 7.5px; width: 66.66667%; }

.rail { float: left; min-height: 1px; padding-left: 7.5px; padding-right: 7.5px; width: 33.33333%; }

.border-bottom { border-bottom: 1px solid #9999aa; }

.border-right { border-right: 1px solid #9999aa; }

.border-left { border-left: 1px solid #9999aa; }

.border-top { border-top: 1px solid #9999aa; }
