section { margin: 1em auto; width: 960px; }

.test .row { background: #eeeeee; }
.test .row > * { background: #dddddd; text-align: center; }

q { display: block; padding: 0.5em; }
q:before { content: ""; }
q:hover { background-color: #eeffee; }

._tall { min-height: 400px; }
