* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.row { overflow: hidden; *zoom: 1; margin-left: -7.5px; margin-right: -7.5px; }
.row .row { width: auto; }

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12, .span13, .span14, .span15, .span16 { float: left; min-height: 1px; padding-left: 7.5px; padding-right: 7.5px; }

.span12 { width: 100%; }

.span11 { width: 91.66667%; }

.span10 { width: 83.33333%; }

.span9 { width: 75%; }

.span8 { width: 66.66667%; }

.span7 { width: 58.33333%; }

.span6 { width: 50%; }

.span5 { width: 41.66667%; }

.span4 { width: 33.33333%; }

.span3 { width: 25%; }

.span2 { width: 16.66667%; }

.span1 { width: 8.33333%; }

.border-bottom { border-bottom: 1px solid black; }

.border-right { border-right: 1px solid black; }

.border-left { border-left: 1px solid black; }

.border-top { border-top: 1px solid black; }
