@import "compass/css3/transition"

// CSS specifically for the demo

section
  margin: 1em auto

.test
  .row
    background: #eee

  .row > *
    background: #ddd
    text-align: center

p
  +single-transition(background-color, 0.2s, ease, 0.3s)
  margin: 0
  padding: 0.5em
  &:hover
    +transition-delay(0.01s)
    background-color: #efe

  // from the semantic grid example
  .grid-item &
    border: 1px solid #ccc
    text-align: center


._tall
  min-height: 400px !important
